{% extends "base.html" %}
	 
	{% block body %}	
	<form action='/PlantsDescription' method='POST'>
	<h1>Plants </h1>
        <br>
		<p>Choose a plant:</p>
		<input id='datalist' list="plants" name="plants" autocomplete="off" required>
	    <datalist id="plants">
		{% for v_names in veg_names %} 
			<option value={{v_names}}>
		{% endfor %}
		</datalist> <br><br>
		
		<br><input type="SUBMIT" name="select" value="Select">
		<br><input type="BUTTON" onclick="window.location.href='http://127.0.0.1:5000/Home'" name="exit" value="Exit"> 
	</form>
	{% endblock %}
	