{% extends "base.html" %}
	 
	{% block body %}	
	<form action='/ScheduleCreated' method='POST'>
	<h1>Make a schedule </h1>
	<p>#There was no enough space in plot</p>
        <br>
		Plants: <input id='datalist' list="plants" name="plants" autocomplete="off" required>
	    <datalist id="plants">
			<option value="Carrot">
			<option value="Cabbage">
			<option value="Turnip">
		</datalist> <br>
        Quantity: <input type="number" min='1' name="quantity" required> <br>
		 
		<br><input type="SUBMIT" name="create" value="Create">
		<br><input type="BUTTON" onclick="window.location.href='http://127.0.0.1:5000/Home'" name="exit" value="Exit"> 
	</form>
	{% endblock %}
	